.section-1st {
    background: #e4e4be;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #be91ce;
    padding: 5px;
}
.grid-item {
    background-color: rgba(245, 238, 251, 0.8);
    border: 1px solid rgba(142, 97, 130, 0.8);
    padding: 20px;
    font-size: 20px;
    text-align: center;
}

.section-container {
    background: #c2c286;

}

.section-introduction {
    background: #fafaf1;

}
#row-intro{
    gap: 3vh;
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
}

#rows-activate{
    background-color: rgb(172, 132, 205);
    padding: 3%;
    border-radius: 3vh;
    height: 8vh;
    width: 10vh;
}

.cp-rows {
    box-shadow: 0 15px 15px 0 rgba(51, 34, 34, 0.2);
    transition: 0.3s;
    border-radius: 15px;
}

.section-offsets {
    background: #e4e4be;
}

.section-pushnpull {
    background: #c2c286;
}

.cp-pushnpull {
    box-shadow: 0 15px 15px 0 rgba(51, 34, 34, 0.2);
    transition: 0.3s;
}

.section-layout {
    background: #fafaf1;
}

.section-cresponsive {
    background: #e4e4be;
}

.section-last {
    background: linear-gradient(135deg, hsl(312, 53%, 60%) 10%, hsl(279, 54%, 61%) 60%, rgb(189, 201, 80) 90%);
    padding: 120px;

}